# REQUIRED
OPENAI_SECRET_KEY='YOUR_API_KEY'

# OPTIONAL

# OPENAI_LOG='true'
UI_COMPONENTS_DIR ='{{INSERT_PROJECT_ROOT_DIR}}/frontend/shadcn-ui/src/components/ui'
DEMO_COMPONENTS_DIR ='{{INSERT_PROJECT_ROOT_DIR}}/frontend/shadcn-ui/src/components/examples'
LOCAL_COMPONENTS_DIR ='{{INSERT_PROJECT_ROOT_DIR}}/frontend/main/src/react-agent'

